<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="container">
    <form id="questionListWrapper" action="quiz" method="post">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">


                <div class="item active">

                    <input id="questions0.id" name="questions[0].id" type="hidden" value="1" value="1"/>
                    <input id="questions0.question" name="questions[0].question" type="hidden" value="1 + 1 = "
                           value="1 + 1 = "/>
                    <input id="questions0.correctAnswer.id" name="questions[0].correctAnswer.id" type="hidden" value="1"
                           value="1"/>
                    <p class="question">1 + 1 = </p>
                    <ul class="answers">

                        <input id="questions0.submittedAnswer.id1" name="questions[0].submittedAnswer.id" type="radio"
                               value="1"/>2

                        <input id="questions0.submittedAnswer.id2" name="questions[0].submittedAnswer.id" type="radio"
                               value="2"/>10

                        <input id="questions0.submittedAnswer.id3" name="questions[0].submittedAnswer.id" type="radio"
                               value="3"/>30

                    </ul>


                    <input id="questions1.id" name="questions[1].id" type="hidden" value="2" value="2"/>
                    <input id="questions1.question" name="questions[1].question" type="hidden" value="50 * 2 = "
                           value="50 * 2 = "/>
                    <input id="questions1.correctAnswer.id" name="questions[1].correctAnswer.id" type="hidden" value="4"
                           value="4"/>
                    <p class="question">50 * 2 = </p>
                    <ul class="answers">

                        <input id="questions1.submittedAnswer.id1" name="questions[1].submittedAnswer.id" type="radio"
                               value="4"/>100

                        <input id="questions1.submittedAnswer.id2" name="questions[1].submittedAnswer.id" type="radio"
                               value="5"/>200

                        <input id="questions1.submittedAnswer.id3" name="questions[1].submittedAnswer.id" type="radio"
                               value="6"/>300

                    </ul>


                </div>

                <div class="item ">

                    <input id="questions2.id" name="questions[2].id" type="hidden" value="4" value="4"/>
                    <input id="questions2.question" name="questions[2].question" type="hidden" value="305 - 5 = "
                           value="305 - 5 = "/>
                    <input id="questions2.correctAnswer.id" name="questions[2].correctAnswer.id" type="hidden"
                           value="10" value="10"/>
                    <p class="question">305 - 5 = </p>
                    <ul class="answers">

                        <input id="questions2.submittedAnswer.id1" name="questions[2].submittedAnswer.id" type="radio"
                               value="10"/>300

                        <input id="questions2.submittedAnswer.id2" name="questions[2].submittedAnswer.id" type="radio"
                               value="11"/>200

                        <input id="questions2.submittedAnswer.id3" name="questions[2].submittedAnswer.id" type="radio"
                               value="12"/>300

                    </ul>


                    <input id="questions3.id" name="questions[3].id" type="hidden" value="3" value="3"/>
                    <input id="questions3.question" name="questions[3].question" type="hidden" value="199 + 1 = "
                           value="199 + 1 = "/>
                    <input id="questions3.correctAnswer.id" name="questions[3].correctAnswer.id" type="hidden" value="7"
                           value="7"/>
                    <p class="question">199 + 1 = </p>
                    <ul class="answers">

                        <input id="questions3.submittedAnswer.id1" name="questions[3].submittedAnswer.id" type="radio"
                               value="7"/>200

                        <input id="questions3.submittedAnswer.id2" name="questions[3].submittedAnswer.id" type="radio"
                               value="8"/>200

                        <input id="questions3.submittedAnswer.id3" name="questions[3].submittedAnswer.id" type="radio"
                               value="9"/>300

                    </ul>


                </div>

                <div class="item ">

                    <input id="questions4.id" name="questions[4].id" type="hidden" value="5" value="5"/>
                    <input id="questions4.question" name="questions[4].question" type="hidden" value="30 * 10 = "
                           value="30 * 10 = "/>
                    <input id="questions4.correctAnswer.id" name="questions[4].correctAnswer.id" type="hidden"
                           value="13" value="13"/>
                    <p class="question">30 * 10 = </p>
                    <ul class="answers">

                        <input id="questions4.submittedAnswer.id1" name="questions[4].submittedAnswer.id" type="radio"
                               value="13"/>300

                        <input id="questions4.submittedAnswer.id2" name="questions[4].submittedAnswer.id" type="radio"
                               value="14"/>200

                        <input id="questions4.submittedAnswer.id3" name="questions[4].submittedAnswer.id" type="radio"
                               value="15"/>30

                    </ul>


                </div>
            </div>
        </div>
        <button href="#myCarousel" data-slide="prev">
            Previous page
        </button>
        <button href="#myCarousel" data-slide="next">
            Next page
        </button>
        <input type="submit" value="Submit answers">
        <div>
            <input type="hidden" name="_csrf" value="06f4af30-157f-4bbf-8cd7-1d3f6d77144d"/>
        </div>
    </form>
</div>
